# === Configuration Serveur ===
PORT=3000
NODE_ENV=development

# === Configuration Base de Données (MySQL) ===
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=ahlam
DB_NAME=mini_erp_2

# === Sécurité ===
JWT_SECRET=votre_secret_jwt_super_securise
SESSION_SECRET=votre_secret_session

# === Uploads ===
UPLOAD_PATH=uploads/
MAX_FILE_SIZE=10485760 # 10MB en bytes
